@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --tahuna-sands: #fff0ce;
  --olivine: #80bb77;
  --calico: #dcc184;
  --royal-health: #b43969;
  --bleached-cedar: #261b32;
}

body {
  margin: 0 auto;
  text-decoration: none;
  font: 14px Neucha, Helvetica, Arial, sans-serif;
  min-width: 600px;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Itim';
  font-size: 25px;
  margin-bottom: 20px;
}


