.kitchen-builder{
  margin: 50px;
}

.kitchen-builder input{
  font-size: large;
  margin: 10px 0;
  padding: 10px;
}

.item-box{
  font-size: large;
  border: 1px dashed black;
  width:fit-content;
  height: fit-content;
  margin: 10px 0 0 10px;
  padding: 10px;
  align-items: baseline;
}

.item-box button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-box img{
  margin: 0 -8px -2px 5px;
  height: 16px;
  width: 16px;
}

.kitchen-box{
  border: 4px dashed rgb(128, 187, 119);
  height: 30vh;
  width: 100%;
}

.kitchen-items{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}