.kitchen-builder-wrapper{
  display: flex;
  justify-content: center;
  margin-left: -100px;
}

.kitchen-builder{
  margin: 10px;
}

.kitchen-builder h2{
  font-family: 'Itim';
  font-size: 25px;
  margin: 0;
  margin-bottom: 20px;
}

.kitchen-builder label{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.kitchen-builder input{
  font-family: Neucha;
  border: 2px dashed rgb(128, 187, 119);
  border-radius: 20px;
  height: 20px;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
}

.kitchen-builder input:focus{
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.kitchen-builder input:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item-box{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: large;
  border: 1px dashed black;
  width:fit-content;
  height: fit-content;
  margin: 10px 0 0 10px;
  padding: 10px;
  align-items: baseline;
}

.item-box:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item-box button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-box img{
  margin: 0 -8px -2px 5px;
  height: 16px;
  width: 16px;
}

.kitchen-box{
  background-image: url('/images/img.png');
  background-size: 100%;
  opacity: 1;
  margin: 20px 0;
  padding: 20px;
  border: 2px solid var(--bleached-cedar);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  min-height: calc(fit-content + 100px);
  width: 65vh;
  height: 50vh;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 235px 15px;
  border-top-right-radius: 255px 5px;
}

.kitchen-items{
  opacity: 1;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}