.kitchen-builder-wrapper{
  display: flex;
  justify-content: center;
}

.kitchen-builder{
  margin: 10px;
}

.kitchen-builder h2{
  margin: 0;
}

.kitchen-builder input{
  border: 2px dashed rgb(128, 187, 119);
  border-radius: 20px;
  height: 20px;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
}

.kitchen-builder input:focus{
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.kitchen-builder input:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item-box{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: large;
  border: 1px dashed black;
  width:fit-content;
  height: fit-content;
  margin: 10px 0 0 10px;
  padding: 10px;
  align-items: baseline;
}

.item-box:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item-box button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-box img{
  margin: 0 -8px -2px 5px;
  height: 16px;
  width: 16px;
}

.kitchen-box{
  background-image: url('/images/img.png');
  background-size: 100%;
  opacity: 1;
  border: 4px dashed rgb(128, 187, 119);
  min-height: calc(fit-content + 100px);
  width: 65vh;
  height: 50vh;
}

.kitchen-items{
  opacity: 1;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}