/* /SavedRecipeCard/:id */

/* var(--tahuna-sands): #fff0ce;
var(--olivine): #80bb77;
var(--calico): #dcc184;
var(--royal-health): #b43969;
var(--bleached-cedar): #261b32; */

.recipe-container {
  
  margin: 3% 30% 3% 3%;
  background-color: white;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border: 2px dashed var(--calico);
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 20px 38px 25px -18px;
  box-sizing: border-box;
  color: var(--bleached-cedar);
  display: inline-block;
  font-family: Neucha, sans-serif;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.recipe {
  padding: 1.2em;
}

.dish-name {
  font-size: 25px;
  text-align: center;
  width: fit-content;
  outline: none;
  color: var(--royal-health);
  padding: 0.8em;
  border: 2px dashed var(--calico);
  border-radius: 4px;
  background-color: var(--tahuna-sands);
  box-shadow: 0 0 0 4px var(--tahuna-sands), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out, 0.4s color;
}

.dish-name:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.dish-name:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

p {
  font-size: 15px;
  color: var(--bleached-cedar);
}

.all-recipes {
  margin: 30px;
  margin-top: 10px;
  padding: 0px;
}

.all-recipes ul {
  list-style: none;
  padding: 10px;
  margin: 0px;
}

.button-container {
  margin-top: 0.2rem;
  margin-left: 4rem;
}

.button-container button {
  margin-left: auto;
  align-self: center;
  background-color: var(--calico);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: var(--bleached-cedar);
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 11px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-container button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-container button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
