.recipe-view {

  background-color: white;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border: 2px dashed rgb(128, 187, 119);
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  display: inline-block;
  font-family: Neucha, sans-serif;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.recipe-list-header {
  margin: 0px 30px;
  padding: 20px 10px 0;
}

hr {
  border: 1px dashed rgb(128, 187, 119);
  height: 0.5px;
}

.button-link {
  text-decoration: none;
}

.all-recipes {
  margin: 30px;
  margin-top: 10px;
  padding: 0px;
}

.all-recipes ul {
  list-style: none;
  padding: 10px;
  margin: 0px;
}

.recipe {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.recipe-title {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 5px 5px;
}

.recipe-description {
  padding: 0px 5px;
  margin: 0px;
}

.recipe .buttons {
  align-items: center;
  padding: 5px;
}

.recipe button {
  width: 100px;
  margin: 5px;
  padding: 5px 25px;
}

.button-wrapper button {
  margin-top: 20px;
  align-self: center;
  background-color: #e9e8e8;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 11px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-wrapper button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-wrapper button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
